In [1]:
a = 5
b = 4
print ("The addition of a+b:",a+b)

The addition of a+b: 9

In [17]:
num1 = input ("Enter the num1:")
num2 = input("Enter the num2:")

sum = float(num1) + float(num2)

print ("The addition of two values:", sum)

Enter the num1: 5.6
Enter the num2: 6.8

The addition of two values: 12.399999999999999

In [27]:
import math 
a= 36
print("The square root of a:",math.sqrt(a))

The square root of a: 6.0

In [37]:
a = float(input("Enter the value of a:"))
b = float(input("Enter the value of b:"))
c = float(input("Enter the value of c:"))

s = (a+b+c) / 2

area = (s*(s-a)*(s-b)*(s-c))** 0.5
print ("The area of the triangle:", area)

Enter the value of a: 5
Enter the value of b: 6
Enter the value of c: 7

The area of the triangle: 14.696938456699069

In [39]:
import math

a = 1
b = 5
c = 6

d = (b**2) - (4*a*c)

sol1 = (-b-math.sqrt(d))/(2*a)
sol2 = (-b+math.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are -3.0 and -2.0

In [41]:
x = 5
y = 6

temp = x
x = y
y = temp

print ("swap of X:", x)
print ("swap of y:", y)

swap of X: 6
swap of y: 5

In [45]:
import random
print (random.randint(0,9))

5

In [51]:
kilometer = float(input("Enter the value of KM:"))

miles = kilometer * 0.62

print ("Miles:", miles)

Enter the value of KM: 10

Miles: 6.2

In [14]:
import numpy as np
print(np.version)

<module 'numpy.version' from 'C:\\Users\\Admin\\AppData\\Local\\anaconda3\\Lib\\site-packages\\numpy\\version.py'>

In [26]:
import pandas as pd
s = pd.Series([x for x in range (1,11)])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [30]:
s.iloc(0)

In [32]:
s.where(s%2==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [1]:
import pandas as pd
df = pd.DataFrame()
type(df)
pd.core.frame.DataFrame
df = pd.read_csv('C:/Users/Admin/Downloads/1642057416_lesson5retail_mart_management_datasets/Lesson 5 - Retail_Mart_Management_Datasets/sales_datasets.csv')
df

   order_date order_no  c_id   c_name  s_code       p_name  qty  price
0  24-07-2016     HM06  9212  Jessica      11       pencil    3     30
1  19-10-2016     HM09  3921   Mukesh      17     biscuits   10    600
2  30-10-2016     HM10  9875  Stephen       2      cornoto   10    500
3  12-04-2018     HM03  1212   Oliver      20         kiwi    3    420
4  02-05-2018     HM05  1910    Mohan      20         kiwi    2    280
5  20-09-2018     HM08  5334  Chirsty      16    chocolate    2     50
6  11-01-2019     HM07  1246  Vignesh      19        apple    5    600
7  15-03-2019     HM01  1910    Mohan       5    mayanoise    4    360
8  10-02-2021     HM04  1111    Nisha      25  conditioner    5   1000
9  12-02-2021     HM02  2123   Biyush       3          Pen    2     20